<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheet.css">
    <meta charset="utf-8" />
    <title>Mongoose Store</title>
</head>

<body>

    <nav>
        <a href="/store/new">Add a New Item</a>
    </nav>
    <h1>Mongoose Store Index Page</h1>
    <ul>
        <% products.forEach(product=> { %>
            <li>
                <!-- making a link to specific item (id) and displaying the name -->
                <a href="/store/<%=product._id %>">
                   <h3> <%=product.name; %> </h3>
                    <img src=<%=product.img %> >
                </a>
            </li>
            <% }) %>
    </ul>
</body>

</html>